# Database
DATABASE_URL="postgresql://user:password@localhost:5432/emerc_data"

# Redis
REDIS_URL="redis://localhost:6379"

# API
PORT=4000

# Auth
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""

# Paystack
PAYSTACK_SECRET_KEY=""
PAYSTACK_PUBLIC_KEY=""

# Clubkonnect
CLUBKONNECT_USER_ID=""
CLUBKONNECT_API_KEY=""

# Resend
RESEND_API_KEY=""

# Termii
TERMII_API_KEY=""